#global
.venv/
todo_list.txt
docker-compose.yml

#backend 
backend/Dockerfile
backend/requirements.txt

#datasets
datasets/data

#frontend
frontend/Dockerfile
frontend/nginx.conf
frontend/package.json
